/* Padding the content so it won't start immediately from the edge of the screen */
.content  { padding: 15px; }

/* Setting the background color of the page */
body { 
  background-color: #fbfbf2;
  margin: 0;
}

.topnav {
  background-color:#ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/* Styling the links inside the navigation bar */
.topnav a {
  color: #669bbc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c1d3fe;
  color: #001d3d;
}

/* Adding color to the active/current link */
.topnav a.active {
  background-color: #f2ebfb;
  color: #613dc1;
}

/* Setting font sizes */
h1 { font-size: 30px; }
h2 { font-size: 25px; }
p, ul { font-size: 18px; }

/* Navigation menu button, not displayed on desktop */
.icon {
  display: none;
  cursor: pointer;
  padding: 14px 16px;
}

.bar1, .bar2, .bar3 {
  width: 22px;
  height: 3px;
  background-color: #333d29;
  margin: 5px 0;
  transition: 0.3s;
}

/* Changing the menu button to an X when clicked */
.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

/* For mobile devices: phones, tablets */
@media only screen and (max-width: 767px) {
  /* Changing the navigation bar */
  .topnav {
    flex-direction: column; /* Vertical navigation bar */
    align-items: stretch;	
  }

  .topnav a { display: none }

  .topnav a.icon {
    display: block;
    text-align: right;
  }

  .topnav.responsive a {
    display: block;
    text-align: left;
    border-top: 1px solid #c9cba3; /* Separating border between navigation bar options */
  }

  /* Removing border from the first link */
  .topnav.responsive a:first-child {
    border-top: none;
  }

  /* Displaying the menu button */
  .icon { display: block; }
}

/* For larger devices: laptops, desktop computers */
@media only screen and (min-width: 768px) {
  /* Horizontal navigation bar */
  .topnav { flex-direction: row; }
  .topnav a { display: block; }
}
