/* Padding the content so it won't start immediately from the edge of the screen */
.content  { padding: 15px; }

/* Setting the background color of the page */
body { 
  background-color: #fbfbf2;
  margin: 0;
  padding: 0;
}

.topnav {
  background-color:#ffffff;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* Styling the links inside the navigation bar */
.topnav a {
  color: #669bbc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c1d3fe;
  color: #001d3d;
}

/* Adding color to the active/current link */
.topnav a.active {
  background-color: #f2ebfb;
  color: #613dc1;
}

/* Setting font sizes */
h1 { font-size: 30px; }
h2 { font-size: 25px; }
p, ul { font-size: 18px; }

/* For mobile devices: phones, tablets */
@media only screen and (max-width: 767px) {
  /* Changing the navigation bar */
  .topnav {
    flex-direction: column; /* Vertical navigation bar */
    position: relative;
    width: 100%;
  }

  .topnav a { 
    display: block;
    text-align: left;
    border-top: 1px solid #c9cba3; /* Separating border between navigation bar options */
  }

  /* Removing border from the first link */
  .topnav a:first-of-type {
    border-top: none;
  }
}

/* For larger devices: laptops, desktop computers */
@media only screen and (min-width: 768px) {
  /* Horizontal navigation bar */
  .topnav { flex-direction: row; }
  .topnav a { display: block; }
}
